<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BCR!{% endblock %}</title>

        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="shortcut icon" type="image/jpeg" href="{{ asset('img/der-bcr.jpg') }}"/>

        <script src="{{ asset('build/runtime.js') }}"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body data-env="{{ app.environment }}" id="body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
